@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,500,600);
body {
    overflow-x: hidden;
    font-family: 'Raleway' !important;
    min-height: 100%;
}

html {
    height: 100%;
}

.btn {
    display: inline-block;
    margin: 5px;
}

.sen3 {
    text-align: center;
    text-size-adjust: center;
} 